@model BirtdayApp.Models.DavetiyeModel
@{
    ViewBag.Title = "DavetiyeFormu";
}

<div class="panel panel-success">
    <div class="panel-heading"><h4>sende davetlisin</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Ad :</label>
                @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>E-Posta :</label>
                @Html.TextBoxFor(x => x.EPosta, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Katılacak mısın ?</label>
                @Html.DropDownListFor(x => x.KatilmaDurumu, new[]
{
              
               new SelectListItem()
               {
                   Text="Evet Geliyorum.",Value=bool.TrueString
               },
                new SelectListItem()
               {
                   Text="Hayır Maalesef Gelemeyeceğim.",Value=bool.FalseString
               }


           },new {@class="form-control"})
                <br />
                <button class="btn btn-success">Onayla</button>
                <br />

            </div>
        }
    </div>
</div>

